<div layout="row" layout-align="center center" layout-fill>
  <md-content flex="50" layout="column" class="md-whiteframe-z2">
    <md-parse-login
      user="user"
      main-container-attributes="mainContainerAttributes"
      md-content-class="mdContentClass"
      md-toolbar-class="mdToolbarClass"
      md-toolbar-tools-class="mdToolbarToolsClass"
      submit-button-class="submitButtonClass"
      submit-button-text="submitButtonText"
      back-button-class="backButtonClass"
      back-button-text="backButtonText"
      login-md-content-attributes="loginMdContentAttributes"
      login-inputs-attributes="loginInputsAttributes"
      login-button-class="loginButtonClass"
      login-button-text="loginButtonText"
      login-toolbar-text="loginToolbarText"
      create-custom-dialog="createCustomDialog"
      create-custom-dialog-url="createCustomDialogUrl"
      create-custom-dialog-ctrl="createCustomDialogCtrl"
      create-md-content-attributes="createMdContentAttributes"
      create-inputs-attributes="createInputsAttributes"
      create-button-class="createButtonClass"
      create-button-text="createButtonText"
      create-toolbar-text="createToolbarText"
      reset-md-content-attributes="resetMdContentAttributes"
      reset-inputs-attributes="resetInputsAttributes"
      reset-toolbar-text="resetToolbarText"
      on-login-success="onLoginSuccess">
    </md-parse-login>
  </md-content>
</div>
