
  .config(['ParseProvider',
    function (Parse) {
      Parse.configure({
        applicationId: '<%= parseApplicationId %>',
        javaScriptKey: '<%= parseJavaScriptKey %>',
        clientKey: '<%= parseClientKey %>',
        deps: ['$q', '$window']
      });
  }])